.form {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 250px;

    .name {
        display: flex;
        gap: 4rem;
        padding-bottom: 20px;

        .fn {
            display: flex;
            flex-direction: row;
        }
    }





}